body {
    background-color:seagreen;
    font-family: Georgia, Arial, Helvetica, Arial;
}

h1 {
    color:aliceblue;
    text-align: center;
}

.projects { 
    display:flex; flex-wrap:wrap; 
} 
.project {
width: 40%;
margin: 25px;
padding: 20px 10px;
background: rgb(202, 196, 138); 
border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 4px solid rgb(126, 14, 201);
    display: block;
    margin: auto;
    }
    a {     
        text-decoration: none;
        color: rgb(126, 14, 201);
        }
        .project h3{
            text-align: center;
        }
        .project p {
        text-align: center;
        margin: 15px;
        }
    
        .about img {
            width: 150px;
            height: 200px;
            border-radius: 25%;
            border: 2px solid rgb(126, 14, 201);
            }
        .about p {
            width:70%;
            text-align: center;
            margin: auto;
            line-height: 125%;
            }
        .about{
            display:flex;
            flex-wrap:wrap;
            margin-right: 100px;
            margin-left: 100px;
            justify-content: center;
        }
                    